@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

.parent {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.likn {
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 16px;
}

.japan {

    font-size: 40px;
    font-family: 'Mulish', sans-serif;
}

.first_part {
    margin-bottom: 30px;
    margin-top: 30px;
    gap: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image1 {
    height: 474px;
}

.text1 {
    margin-top: -130px;
    height: 342px;
    left: 60%;
    right: 0%;
    top: 0px;
}

.section1 {
    margin-top: 59px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.japan {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    text-transform: uppercase;

    color: #000000;

}

.japan3 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    text-transform: uppercase;

    color: #000000;
}

.Photography {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height, or 120% */

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #999999;

}

.big_box {
    margin-top: 80px;
}

.three_in_one {
    margin-bottom: 100px;
    gap: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}